:root {
  --white: #feffff;
  --light-color: #def2f1;
  --dark-color: #2b7a78;
  --darkest-color: #17252a;
  --primary-font: 'Lato', sans-serif;
  --secondary-font: 'Poppins', sans-serif;
  --text-color: #828282;
  --border-color: #e0e0e0;
  --primary-color: #2f80ed;
  --color-red: #db4437;
  --color-green: #0f9d58;
  --transition-duration: 0.3s;
}

@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font: inherit;
  color: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: var(--primary-font);
  color: #222;
  font-size: 1.6rem;
  position: relative;
  height: 100%;
  overflow-x: hidden;
}

h1 {
  color: var(--light-color);
  font-size: 5vh;
}

h2 {
  color: var(--primary-color);
  font-size: 3.6rem;
}

body.noscroll {
  overflow: hidden;
}

.nav {
  background-color: var(--darkest-color);
  position: sticky;
  left: 0;
  right: 0;
  display: flex;
  height: 10vh;
  justify-content: center;
  align-items: center;
}

.book-results {
  /* background-color: antiquewhite; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transform: scale(0);
  transition: all 0.5s;
}

.book-results.visible {
  visibility: visible;
  transform: scale(1);
}

.book {
  /* margin */
  /* background-color: blue; */
  cursor: pointer;
  margin-block: 1rem;
}

.book-image {
  margin: 0 auto;
  text-align: center;
  display: flex;
  height: 300px;
  width: auto;
}

.books-container {
  min-height: 90vh;
}

.app {
  position: relative;
}

.form-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: all var(--transition-duration) ease-in-out;
  transform: scale(0);
  display: flex;
  justify-content: center;
  height: 100vh;
}

.form-container.visible {
  overflow: hidden;
  transform: scale(1);
}

@media (min-width: 600px) {
  .form-container {
    top: 10vh;
    max-height: 55rem;
  }
}

.form {
  position: relative;
  background-color: white;
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  width: 100%;
  max-width: 60rem;
  min-height: 90vh;
  transition: all var(--transition-duration) ease-in-out;
}

.form__heading {
  font-size: 2.4rem;
  font-weight: 700;
}

.form__cover-div {
  position: relative;
  height: 30vh;
  margin-inline: auto;
  margin-bottom: 4rem;
}

.form__cover-img {
  height: 100%;
}

.form__input {
  margin-bottom: 2rem;
  position: relative;
}

.form__input label {
  font-size: 1.4rem;
  color: var(--text-color);
  display: block;
}

.form__input input {
  border: none;
  border-bottom: 1px solid var(--border-color);
  width: 100%;
  outline: none;
  height: 2.8rem;
}

.form__input input:focus ~ .form__input-focus {
  left: 0;
  background-color: var(--primary-color);
  width: 100%;
}

.form__pages-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2.4rem;
  width: 100%;
}

.form__input-focus {
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 0.2rem;
  width: 0;
  transition: all 0.2s ease-in-out;
}

.form__btn {
  display: block;
  margin: 0 auto;
  border: none;
  padding: 1rem 2.4rem;
  color: white;
  background-color: var(--primary-color);
  border-radius: 8px;
  cursor: pointer;
}

.add-book-btn {
  z-index: 2;
  width: 8rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 50%;
  border: none;
  outline: none;
  transition: all 0.5s;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.add-book-btn span {
  font-size: 5rem;
}

.add-book-btn--add {
  position: fixed;
  background-color: var(--primary-color);
  right: 2.4rem;
  bottom: 2.4rem;
  z-index: 1000;
}

.add-book-btn--add.transform-to-cancel {
  transform: rotate(225deg);
  background-color: var(--color-red);
}

.add-book-btn--ok {
  position: fixed;
  background-color: var(--color-green);
  left: 2.4rem;
  bottom: 2.4rem;
  visibility: hidden;
}

.add-book-btn--ok.visible {
  visibility: visible;
}

.add-book-btn:hover {
  filter: brightness(1.35);
}

.books-container {
  background: #003e46;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.book {
  position: relative;
  width: 80%;
  max-width: 30rem;
  margin: 2rem auto;
  height: 40rem;
  max-height: 70%;
  background: #000;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.5);
}

.book__cover img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.book__content {
  position: absolute;
  bottom: 2rem;
  left: 10%;
  width: 80%;
  background: white;
  height: 4rem;
  transition: 0.5s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.book__title {
  display: none;
  margin-top: 1rem;
  padding-inline: 2rem;
}

.book__pages-isbn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-inline: 2rem;
  display: none;
}

.book__isbn {
  text-align: right;
}

.book__description {
  display: none;
  margin-inline: 2rem;
}

.book__progress {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem auto;
  width: 100%;
  padding-inline: 2rem;
}

.book__progress-div {
  position: relative;
  width: 80%;
  margin-top: 0.1rem;
  height: 0.7rem;
}

.book__progress-bar {
  background: gray;
  border-radius: 2rem;
  height: 100%;
}

.book__progress-bar::before {
  content: '';
  position: absolute;
  border-radius: 2rem;
  width: 100%;
  height: 100%;
  border: 1px solid gray;
}

.book__progress-percent {
  margin: 0;
  font-size: 1.4rem;
}

.book__btns {
  width: 100%;
  padding: 2rem;
  justify-content: space-between;
  display: none;
}

.book:hover .book__content {
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
}

.book:hover .book__description,
.book:hover .book__title {
  display: block;
}

.book:hover .book__btns,
.book:hover .book__pages-isbn {
  display: flex;
}

.book:hover .imgBx img {
  opacity: 0;
}

.toggle {
  --width: 50px;
  --height: calc(var(--width) / 2);
  --border-radius: calc(var(--height) / 2);
  display: inline-block;
  cursor: pointer;
}

.toggle__input {
  display: none;
}

.toggle__fill {
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  background: #dddddd;
  transition: background 0.2s;
}

.toggle__input:checked ~ .toggle__fill {
  background: var(--primary-color);
}

.toggle__fill::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: var(--height);
  width: var(--height);
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--border-radius);
  transition: transform 0.2s;
}

.toggle__input:checked ~ .toggle__fill::after {
  transform: translateX(var(--height));
}

.search-books {
  position: absolute;
  left: 0;
  right: 0;
  top: 10vh;
  bottom: 0;
  margin: 0 auto;
  background: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 40rem;
  height: 25rem;
  z-index: 101;
  transform: translateX(-100vw);
  transition: all var(--transition-duration) ease-in-out;
}

.search-books .form__input {
  width: 80%;
}

.search-books.visible {
  transform: translateX(0);
}

.search-btn {
  margin-top: 12rem;
}

.search-results {
  position: absolute;
  left: 0;
  right: 0;
  background: var(--dark-color);
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  grid-gap: 1.5rem;
  z-index: 104;
  transform: translateX(100%);
  transition: all var(--transition-duration) ease-in-out;
}

.search-results.visible {
  transform: translateX(0);
}

.result {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: repeat(4, min-content);
  align-items: center;
  background-color: white;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  transition: all var(--transition-duration) ease-in-out;
  cursor: pointer;
}

.result:hover {
  transform: translate(-0.3rem, -0.3rem);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.result__img {
  grid-column: 1 / 2;
  grid-row: 1 / 5;
  padding: 1rem;
}

.result p {
  grid-column: 2 / 3;
  font-size: 1.2rem;
}

.spinner-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 10rem;
  height: 10rem;
  border-radius: 0.5rem;
  background-color: white;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.spinner-container.visible {
  visibility: visible;
}

.spinner {
  color: #000000;
  font-size: 4rem;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  transform: translateZ(0);
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  transition: all 0.1s;
}

.warning {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-inline: auto;
  height: 10vh;
  width: 100%;
  max-width: 60rem;
  z-index: 1001;
  color: white;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s linear;
}

.warning.visible {
  visibility: visible;
  opacity: 1;
}
/*# sourceMappingURL=main.css.map */