:root {
  --white: #feffff;
  --light-color: #def2f1;
  --dark-color: #2b7a78;
  --darkest-color: #17252a;
  --primary-font: 'Lato', sans-serif;
  --secondary-font: 'Poppins', sans-serif;
  --text-color: #828282;
  --border-color: #e0e0e0;
  --primary-color: #2f80ed;
  --color-red: #db4437;
  --color-green: #0f9d58;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font: inherit;
  color: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}

body {
  font-family: var(--primary-font);
  color: #222;
  font-size: 1.6rem;
  position: relative;
}

h1 {
  color: var(--light-color);
  font-size: 5vh;
}

h2 {
  color: var(--primary-color);
  font-size: 3.6rem;
}

.nav {
  background-color: var(--darkest-color);
  display: flex;
  height: 10vh;
  justify-content: center;
  align-items: center;
}

.form-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-width: 80rem;
  margin-left: auto;
  align-items: center;
  transition: all 0.5s;
  transform: translateX(-300%);
}

.form {
  position: relative;
  background-color: white;
  padding: 2.4rem;
  padding-bottom: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  transition: all 0.5s;
}

.form__heading {
  font-size: 2.4rem;
  font-weight: 700;
}

.form__input {
  margin-bottom: 2rem;
  position: relative;
}

.form__input label {
  font-size: 1.2rem;
  color: var(--text-color);
  display: block;
}

.form__input input {
  border: none;
  border-bottom: 1px solid var(--border-color);
  width: 100%;
  outline: none;
  height: 2.8rem;
}

.form__input input:focus ~ .form__input-focus {
  left: 0;
  background-color: var(--primary-color);
  width: 100%;
}

.form__input-focus {
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 0.2rem;
  width: 0;
  transition: all 0.2s ease-in-out;
}

.form__btn {
  display: block;
  margin: 0 auto;
  border: none;
  padding: 1rem 2.4rem;
  color: white;
  background-color: var(--primary-color);
  border-radius: 8px;
  cursor: pointer;
}

.add-book-btn {
  z-index: 2;
  width: 8rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 50%;
  border: none;
  outline: none;
  transition: all 0.5s;
  cursor: pointer;
}

.add-book-btn span {
  font-size: 5rem;
}

.add-book-btn--add {
  position: fixed;
  background-color: var(--primary-color);
  right: 2.4rem;
  bottom: 2.4rem;
}

.add-book-btn--add.transform-to-cancel {
  transform: rotate(225deg);
  background-color: var(--color-red);
}

.add-book-btn--ok {
  position: absolute;
  background-color: var(--color-green);
  left: 2.4rem;
  bottom: 2.4rem;
}

.add-book-btn:hover {
  opacity: 0.7;
}

.books-container {
  background: #003e46;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.book {
  position: relative;
  width: 80%;
  max-width: 30rem;
  margin: 2rem auto;
  height: 40rem;
  background: #000;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.5);
}

.book__cover img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.book__content {
  position: absolute;
  bottom: 20px;
  left: 10%;
  width: 80%;
  background: white;
  height: 60px;
  transition: 0.5s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.book__progress {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
  margin-top: 0.5rem;
}

.book__progress-div {
  position: relative;
  width: 80%;
  margin-top: 0.1rem;
  height: 0.7rem;
}

.book__progress-bar {
  background: gray;
  border-radius: 2rem;
  width: 90%;
  height: 100%;
}

.book__progress-bar::before {
  content: '';
  position: absolute;
  border-radius: 2rem;
  width: 100%;
  height: 100%;
  border: 1px solid gray;
}

.book__progress-percent {
  margin: 0;
  font-size: 1.4rem;
}

.book:hover .book__content {
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
}

.book:hover .imgBx img {
  opacity: 0;
}
/*# sourceMappingURL=main.css.map */