:root {
  --white: #feffff;
  --light-color: #def2f1;
  // --primary-color: #3aafa9;
  --dark-color: #2b7a78;
  --darkest-color: #17252a;

  --primary-font: 'Lato', sans-serif;
  --secondary-font: 'Poppins', sans-serif;
  --text-color: #828282;
  --border-color: #e0e0e0;
  --primary-color: #2f80ed;

  --color-red: #db4437;
  --color-green: #0f9d58;
}
