body {
  &.noscroll {
    overflow: hidden;
  }
}

.nav {
  background-color: var(--darkest-color);
  position: sticky;
  left: 0;
  right: 0;
  display: flex;
  height: 10vh;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.book-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transform: scale(0);
  transition: all 0.5s;

  &.visible {
    visibility: visible;
    transform: scale(1);
  }
}
.book {
  cursor: pointer;
  margin-block: 1rem;
}

.book-image {
  margin: 0 auto;
  text-align: center;
  display: flex;
  height: 300px;
  width: auto;
}

.books-container {
  min-height: 90vh;
}

.app {
  position: relative;
}

.book:last-child {
  margin-bottom: 12rem;
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(rgba(23, 37, 42, 0.9), rgba(23, 37, 42, 0.5));
  z-index: 2;
  &.visible {
    display: block;
  }
}
