.nav {
  background-color: var(--darkest-color);
  display: flex;
  // height: 10rem;
  height: 10vh;
  justify-content: center;
  align-items: center;
}

.book-list {
  /* background-color: antiquewhite; */
  // position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transform: scale(0);
  transition: all 0.5s;

  &.visible {
    visibility: visible;
    transform: scale(1);
  }
}
.book {
  /* margin */
  /* background-color: blue; */
  cursor: pointer;
  margin-block: 1rem;
}

.book-image {
  margin: 0 auto;
  text-align: center;
  display: flex;
  height: 300px;
  width: auto;
}

.search-books {
  position: absolute;
  left: 0;
  right: 0;
  margin-inline: auto;

  width: 80%;
  // height: 10rem;
  max-width: 50rem;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  z-index: 100;
  // visibility: hidden;
  transform: translateX(-300rem);
  transition: all 0.3s;

  &.visible {
    // visibility: visible;
    // transform: scale(1);
    transform: translateX(0);
  }
}

.app {
  height: 100%;
}
