.form-container {
  position: absolute;
  top: 0;
  left: 0;
  // bottom: 0;
  right: 0;
  // max-width: 80rem;
  // margin-left: auto;
  transition: all var(--transition-duration) ease-in-out;
  // transform: translateX(-300%);
  transform: scale(0);
  display: flex;
  justify-content: center;
  // align-items: center;
  height: 100vh;

  &.visible {
    overflow: hidden;
    transform: scale(1);
  }

  @media (min-width: 600px) {
    top: 10vh;
    max-height: 55rem;
  }
}

.form {
  position: relative;
  // height: 100vh;
  // height: 64rem;
  background-color: white;
  padding: 2.4rem;
  // padding-bottom: 8rem;
  display: flex;
  flex-direction: column;
  // justify-content: space-around;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  width: 100%;
  max-width: 60rem;
  min-height: 90vh;

  // transform: scale(0);
  transition: all var(--transition-duration) ease-in-out;

  // &.visible {
  //   transform: scale(1);
  // }

  &__heading {
    font-size: 2.4rem;
    font-weight: 700;
  }

  &__cover-div {
    // width: 10%;
    position: relative;
    height: 30vh;
    margin-inline: auto;
    // background-color: goldenrod;
    margin-bottom: 4rem;
  }

  &__cover-img {
    height: 100%;
    // object-fit: cover;
  }

  &__input {
    margin-bottom: 2rem;
    position: relative;

    // width: 100rem;

    label {
      font-size: 1.4rem;
      color: var(--text-color);
      display: block;
    }

    input {
      border: none;
      border-bottom: 1px solid var(--border-color);
      width: 100%;
      outline: none;
      height: 2.8rem;

      &:focus ~ .form__input-focus {
        left: 0;
        background-color: var(--primary-color);
        width: 100%;
      }
    }
  }
  &__pages-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2.4rem;
    // display: grid;
    // background-color: red;
    // align-items: stretch;
    // justify-content: space-between;
    // margin: 0;
    // gap: 0;
    width: 100%;
    input {
      // display: block;
      // font-size: 10rem;
      // background-color: gold;
    }
  }

  &__input-focus {
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 0.2rem;
    width: 0;
    transition: all 0.2s ease-in-out;
  }

  &__btn {
    display: block;
    margin: 0 auto;
    border: none;
    padding: 1rem 2.4rem;
    color: white;
    background-color: var(--primary-color);
    border-radius: 8px;
    cursor: pointer;
  }
}
