.form-container {
  position: absolute;
  top: 10vh;
  left: 0;
  right: 0;
  transition: all var(--transition-duration) ease-in-out;
  transform: scale(0);
  display: flex;
  justify-content: center;
  height: 90vh;
  z-index: 3;

  &.visible {
    overflow: hidden;
    transform: scale(1);
  }

  @media (min-width: 600px) {
    top: 10vh;
    max-height: 55rem;
  }
}

.form {
  position: relative;
  background-color: white;
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  width: 100%;
  max-width: 60rem;
  min-height: 90vh;
  transition: all var(--transition-duration) ease-in-out;

  &__heading {
    font-size: 2.4rem;
    font-weight: 700;
  }

  &__cover-div {
    position: relative;
    height: 30%;
    max-height: 18rem;
    margin-inline: auto;
    margin-bottom: 4rem;
  }

  &__cover-img {
    height: 100%;
  }

  &__input {
    margin-bottom: 2rem;
    position: relative;

    label {
      font-size: 1.4rem;
      color: var(--text-color);
      display: block;
    }

    input {
      border: none;
      border-bottom: 1px solid var(--border-color);
      width: 100%;
      outline: none;
      height: 2.8rem;

      &:focus ~ .form__input-focus {
        left: 0;
        background-color: var(--primary-color);
        width: 100%;
      }
    }
  }
  &__pages-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2.4rem;
    width: 100%;
  }

  &__input-focus {
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 0.2rem;
    width: 0;
    transition: all 0.2s ease-in-out;
  }

  &__btn {
    display: block;
    margin: 0 auto;
    border: none;
    padding: 1rem 2.4rem;
    color: white;
    background-color: var(--primary-color);
    border-radius: 8px;
    cursor: pointer;
  }

  &__checkbox {
    text-align: center;
    p {
      margin-bottom: 1rem;
    }
  }
}
