.search-books {
  position: absolute;
  left: 0;
  right: 0;
  top: 10vh;
  bottom: 0;
  margin: 0 auto;
  background: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  max-width: 40rem;
  height: 25rem;
  z-index: 101;
  transform: translateX(-100vw);
  transition: all var(--transition-duration) ease-in-out;

  .form__input {
    width: 80%;
  }

  &.visible {
    transform: translateX(0);
  }
}

.search-btn {
  margin-top: 12rem;
}
